.linck {
  display: flex;
  gap: 5px;
  align-items: center;
  height: 40px;
  color: #ffffff;
  transition: color linear 250ms;
}

.linck:not(:last-child) {
  @media screen and (max-width: 767px) {
    margin-bottom: 23px;
  }
}

.linck:hover {

  color: #bddeff;
}

.linck:focus {
  color: #bddeff;
}

.text {
  margin-left: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  letter-spacing: 0.5px;
}

.linkMobMenuLight {
  color: #707070;
}


  .banerLinck {
    color: #ffffff;
    height: 18px;
  }


  .textLinkBaner {
      margin-left: 5px;
    font-size: 14px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0.5px;
  }