.list {
  @media screen and (min-width: 1230px) {
    display: flex;
    gap: 20px;
  }
}

.item {
  padding: 10px 0px;
  border-radius: 10px;
  /* overflow: hidden; */
  @media screen and (max-width: 1229px) {
    width: 100%;
    text-align: center;
  }
}

.item:not(:last-child) {
  @media screen and (min-width: 768px) and (max-width: 1229px) {
    margin-bottom: 30px;
  }
}

.link {
  padding: 10px 5px;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  letter-spacing: 0.5px;
  transition: background-color linear 250ms;
}

.linkLight {
  color: #2a86e5;
}

.linkDark {
  color: #0dd0ba;
}

.link:hover,
.link:focus {
  background-color: #183a5d;
}
